.cancha {
	width: 940px;
	height: 540px;
	background: #09750C;
	position: relative;
}

.lsalida {
	width: 880px;
	height: 480px;
	background: #09750C;
	border: 1px solid white;
	position: absolute;
	left: 30px;
	top: 30px;
}

.arco1 {
	width: 100px;
	height: 200px;
	background: #09750C;
	border: 1px solid white;
	position: relative;
	top: 150px;

}

.arco2 {
	width: 100px;
	height: 200px;
	background: #09750C;
	border: 1px solid white;
	position: relative;
	top: -50px;
	left: 780px;
}

.mitad {
	width: 100px;
	height: 100px;
	background: #09750C;
	border: 1px solid white;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 400px;
	position: relative;
	bottom: 200px;
	left: 390px;
}

.pelota1 {
	width: 30px;
	height: 3}0px;
	background: #09750C;
	border: 1px solid white;
	-moz-border-radius: 10px;
	-webkit-border-radius: 50px;
	border-radius: 100px;
	position: absolute;
	bottom: 330px;
	left: 240px;
}

.pelota2 {
	width: 30px;
	height: 30px;
	background: #09750C;
	border: 1px solid white;
	-moz-border-radius: 10px;
	-webkit-border-radius: 50px;
	border-radius: 100px;
	position: absolute;
	bottom: 100px;
	left: 450px;
}